---
    dist: bionic
    language: python
    python:
      - 3.7
    sudo: required
    services:
      - docker
    
    jobs:
      include:
        - stage: diff-test
          install:
            - pip install --upgrade pip
            - make dev-env
            - make lint-install
          script:
            - set -e
            - if [ $(make n-docs-diff) -ne 0 ]; then make docs; fi;
            - if [ $(make n-other-diff) -ne 0 ]; then make lint-build-test-all DARGS="--build-arg TEST_ONLY_BUILD=1"; fi;
        - stage: push-tx
          install:
            - pip install --upgrade pip
            - make dev-env
          script:
            - if [ $(make n-docs-diff DIFF_RANGE=$TRAVIS_COMMIT_RANGE) -ne 0 ]; then make tx-en; fi;
        - stage: full-test
          install:
            - pip install --upgrade pip
            - make dev-env
            - make lint-install
          script:
            - set -e
            - make docs
            - make lint-build-test-all DARGS="--build-arg TEST_ONLY_BUILD=1"
    
    stages:
      - name: diff-test
        if: type = pull_request
      - name: push-tx
        if: type = push AND branch = master
      - name: full-test
        if: type = cron AND branch = master