git+https://github.com/IllumiDesk/async-nbgrader.git@e710c5c
git+https://github.com/IllumiDesk/formgradernext.git@be0183f
jupyter-resource-usage==0.6.0
jupyter-server-proxy==3.1.0
nbgitpuller==0.10.1
nbgrader==0.6.2
psycopg2-binary==2.9.1
